<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <!-- No internet permission: the add-on never sends anything anywhere. It only opens
         ZivugBase on this phone with the text you chose. -->

    <application
        android:allowBackup="false"
        android:icon="@mipmap/ic_launcher"
        android:label="ZivugBase add-on"
        android:theme="@android:style/Theme.Material.Light.NoActionBar">

        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- "ZivugBase" in the menu that appears when you select text in any app. -->
        <activity
            android:name=".ProcessTextActivity"
            android:exported="true"
            android:label="ZivugBase"
            android:theme="@android:style/Theme.Translucent.NoTitleBar">
            <intent-filter>
                <action android:name="android.intent.action.PROCESS_TEXT" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="text/plain" />
            </intent-filter>
        </activity>

    </application>
</manifest>
